.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  padding-left: 20px;
  font-size: 30px;
  width: 100%;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.places h2 {
  font-size: 30px;
}

footer {
  position: relative;
}
